@{
    ViewData["Title"] = "Home Page";
}

<main>
    <section id="about">
        <div class="sub-title text-center">
            <h6 class="fw-light text-secondary fs-6">ABOUT US</h6>
        </div>
        <div class="title text-center mb-5">
            <h2>Learn More <span class="text-danger">About Us</span></h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="about-img">
                        <img src="~/assets/images/about.jpg" alt="">
                        <div class="img-info bg-white">
                            <h3 class="text-center">Book a Table</h3>
                            <h2 class="text-center text-danger">+1 5589 55488 55</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <i>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.
                    </i>
                    <ul class="about-list my-3">
                        <li class="about-list-item my-2">
                            <i>
                                <i class="fa-solid fa-check-double text-danger"></i> Ullamco laboris nisi ut aliquip
                                ex ea commodo consequat.
                            </i>
                        </li>
                        <li class="about-list-item my-2">
                            <i>
                                <i class="fa-solid fa-check-double text-danger"></i> Ullamco laboris nisi ut aliquip
                                ex ea commodo consequat.
                            </i>
                        </li>
                        <li class="about-list-item my-2">
                            <i>
                                <i class="fa-solid fa-check-double text-danger"></i> Ullamco laboris nisi ut aliquip
                                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta
                                storacalaperda mastiro dolore eu fugiat nulla pariatur.
                            </i>
                        </li>
                    </ul>

                    <p>
                        Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                        reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                        occaecat cupidatat non proident
                    </p>

                    <div class="about-video">
                        <div class="about-video-img position-relative">
                            <img src="~/assets/images/about-2.jpg" alt="">
                            <div class="play-button rounded-circle position-absolute " data-bs-toggle="modal"
                                 data-bs-target="#exampleModal">
                                <i class="fa-solid fa-play text-white position-absolute"></i>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <iframe width="560" height="315"
                                                src="https://www.youtube.com/embed/dedSYekRZGE"
                                                title="YouTube video player" frameborder="0"
                                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                                allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="chefs">
        <div class="sub-title text-center">
            <h6 class="fw-light text-secondary fs-6">CHEFS</h6>
        </div>
        <div class="title text-center mb-5">
            <h2>OUR <span class="text-danger">PROFFESIONAL</span> CHEFS</h2>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card shadow-sm">
                        <img src="~/assets/images/chefs-1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center fw-bold">Walter White</h5>
                            <p class="card-subtitle text-center fw-light text-secondary mb-2">Master Chef</p>
                            <i class="card-text text-secondary">
                                Velit aut quia fugit et et. Dolorum ea voluptate vel
                                tempore tenetur ipsa quae aut. Ipsum exercitationem iure minima enim corporis et
                                voluptate.
                            </i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card shadow-sm">
                        <img src="~/assets/images/chefs-2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center fw-bold">Walter White</h5>
                            <p class="card-subtitle text-center fw-light text-secondary mb-2">Master Chef</p>
                            <i class="card-text text-secondary">
                                Velit aut quia fugit et et. Dolorum ea voluptate vel
                                tempore tenetur ipsa quae aut. Ipsum exercitationem iure minima enim corporis et
                                voluptate.
                            </i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card shadow-sm">
                        <img src="~/assets/images/chefs-3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title text-center fw-bold">Walter White</h5>
                            <p class="card-subtitle text-center fw-light text-secondary mb-2">Master Chef</p>
                            <i class="card-text text-secondary">
                                Velit aut quia fugit et et. Dolorum ea voluptate vel
                                tempore tenetur ipsa quae aut. Ipsum exercitationem iure minima enim corporis et
                                voluptate.
                            </i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="sub-title text-center">
            <h6 class="fw-light text-secondary fs-6">CONTACT</h6>
        </div>
        <div class="title text-center mb-5">
            <h2>NEED HELP? <span class="text-danger">CONTACT US</span></h2>
        </div>
        <div class="container">
            <div class="row g-3 justify-content-between">
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96970.13756521269!2d49.561041016157965!3d40.57876214992161!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x403096dcd0923f6b%3A0xdf4767c369322a71!2sSumqayit%2C%20Azerbaijan!5e0!3m2!1sen!2s!4v1655906660774!5m2!1sen!2s" class="contact-map" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

                <div class="col-md-6 p-3 d-flex contact-card">
                    <div class="contact-icon">
                        <i class="fa-solid fa-map"></i>
                    </div>
                    <div class="contact-info ms-3">
                        <span class="fs-5 text-secondary fw-bold">Our Address</span>
                        <p>A108 Adam Street, New York, NY 535022</p>
                    </div>
                </div>
                <div class="col-md-6 p-3 d-flex contact-card">
                    <div class="contact-icon">
                        <i class="fa-solid fa-map"></i>
                    </div>
                    <div class="contact-info ms-3">
                        <span class="fs-5 text-secondary fw-bold">Our Address</span>
                        <p>A108 Adam Street, New York, NY 535022</p>
                    </div>
                </div>
                <div class="col-md-6 p-3 d-flex contact-card">
                    <div class="contact-icon">
                        <i class="fa-solid fa-map"></i>
                    </div>
                    <div class="contact-info ms-3">
                        <span class="fs-5 text-secondary fw-bold">Our Address</span>
                        <p>A108 Adam Street, New York, NY 535022</p>
                    </div>
                </div>
                <div class="col-md-6 p-3 d-flex contact-card">
                    <div class="contact-icon">
                        <i class="fa-solid fa-map"></i>
                    </div>
                    <div class="contact-info ms-3">
                        <span class="fs-5 text-secondary fw-bold">Our Address</span>
                        <p>A108 Adam Street, New York, NY 535022</p>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col my-5 shadow py-4">
                    <form>
                        <div class="row justify-content-center">
                            <div class="mb-3 col-md-6">
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your Name">
                            </div>
                            <div class="mb-3 col-md-6">
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Your Email">
                            </div>
                            <div class="mb-3 col-md-12">
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Subject">
                            </div>
                            <div class="mb-3 col-md-12">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Message"></textarea>
                            </div>

                            <button type="submit" class="btn btn-primary contact-btn rounded-pill">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>